{% extends 'base.html.twig' %}

{% block title 'Connection' %}

{% block body %}
    <h1 class="center-align">Customs</h1>
    <main class="container row">

    {% if is_granted('ROLE_EMAIL') or is_granted('ROLE_ADMIN') or is_granted('ROLE_USER') %}
        <div class="divLogin center-align grey darken-4 z-depth-2">
            <p class="pHome yellow-text">
            Vous êtes connecté,
            </p>
            <p class="pHome yellow-text" id="pHome1">
                {{ app.user.username }}
            </p>
            <a class="btn section" href="{{ path('app_logout') }}" title="logout">Se déconnecter</a>
        </div>
    {% else %}
        <div class="col s10 offset-s1 m8 offset-m2 l6 offset-l3">
            <form method="post">
                <div class="divLogin grey darken-4 z-depth-2">
                    {% if error %}
                        <div class="spanRed center-align">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}
                    <label for="inputUsername">Username</label>
                    <input class="white-text" type="text" value="{{ last_username }}" name="username" id="inputUsername" required autofocus>
                    <label for="inputPassword">Password</label>
                    <input class="white-text" type="password" name="password" id="inputPassword" required>
                </div>
                <input type="hidden" name="_csrf_token"
                       value="{{ csrf_token('authenticate') }}"
                >

                {#
                    Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                    See https://symfony.com/doc/current/security/remember_me.html

                    <div class="checkbox mb-3">
                        <label>
                            <input type="checkbox" name="_remember_me"> Remember me
                        </label>
                    </div>
                #}
                <div class="center-align">
                    <button class="btn" type="submit">
                        Se connecter
                    </button>
                </div>
            </form>
            <section class="center-align">
                <a class="white-text" href="{{ path('signin') }}" title="New user">S'inscrire</a>
            </section>
        </div>

    {% endif %}
    </main>

{% endblock %}
