{% extends 'base.html.twig' %}

{% block title 'ADMINISTRATEUR' %}

{% block body %}
    <h1 class="center-align section">Manager</h1>
    <main id="tableAdmin">
        <table class="highlight centered">
            {% for message in app.flashes('success') %}
                <section class="grey darken-2 flow-text row">
                    <span class="col s12 center-align spanRed">{{ message }}</span>
                </section>
            {% endfor %}
            <thead class="grey darken-4 white-text flow-text">
            <th></th>
            <th>Modifier</th>
            <th>Nom</th>
            <th>Materiel</th>
            <th>Lieu</th>
            <th>Validé</th>
            <th></th>
            </thead>
            <tbody>

            {% for game in games %}
                <tr class="flow-text">
                    <td>
                        <a class="waves-effect waves-light btn modal-trigger btnDelete red" href="#modalDel{{ game.id }}"><i class="material-icons right">delete</i></a>

                        <div id="modalDel{{ game.id }}" class="modal">
                            <div class="modal-content">
                                <h2 class="whiteSpace">{{ game.name }}</h2>
                                <p class="pDelModal">Êtes-vous sûr de vouloir supprimer ce jeu de la base de donnée ?</p>
                                <span class="center-align spanRed"><sub>Cette action est irréverssible</sub></span>
                            </div>
                            <div class="modal-footer black">
                                <form class="row" action="{{ path('admin.game.delete', {id: game.id}) }}" method="post">
                                    <input type="hidden" name="_method" value="DELETE">
                                    <input type="hidden" name="_token" value="{{ csrf_token('del'~game.id) }}">
                                    <button class="btn red">Valider</button>

                                    <a href="#!" class="modal-close btn blue">Retour</a>
                                </form>
                            </div>
                        </div>
                    </td>
                    <td><a href="{{ path('admin.game.edit', {id: game.id}) }}" class="btn">Modifier</a></td>
                    <td><b>{{ game.name }}</b></td>
                    <td><ins>{{ game.formatMateriel }}</ins></td>
                    <td><ins>{{ game.categType }}</ins></td>
                    <td><ins>{{ game.validateStr }}</ins></td>
                    <td>
                        <a class="waves-effect waves-light btn modal-trigger" href="#modal{{ game.id }}">Règles</a>

                        <div id="modal{{ game.id }}" class="modal">
                            <div class="modal-content">
                                <h2>{{ game.name }}</h2>
                                <p class="reglesModal">{{ game.regle }}</p>
                            </div>
                            <div class="modal-footer black">
                                <a href="#!" class="modal-close btn blue">Retour</a>
                            </div>
                        </div>
                    </td>
                </tr>
            {% endfor %}

            </tbody>
        </table>
    </main>
{% endblock %}